.header-top {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header-top h1 {
  font-family: Courier New;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 20px;
  margin-bottom: 0px;
}

.game-container {
  background-color: #fafafa;
  display: inline-block;
  position: relative;
  width: 600px;
  height: 600px;
  border-left: 2px dashed rgba(0, 0, 0, 0.3);
  border-bottom: 2px dashed rgba(0, 0, 0, 0.3);
}

.game-outline {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 0px;
  background-color: #E4F5FF;
  justify-content: center;
}

.page-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.game-container div {
  float:left;
  width: 98px;
  height: 98px;
  border-right: 2px dashed rgba(0, 0, 0, 0.3);
  border-top: 2px dashed rgba(0, 0, 0, 0.3);
}

.pointer:hover {
  cursor: pointer;
}

.button-headers {
  height: 75px;
  width: 588px;
  font-weight: bold;
  font-family: Courier New;
  font-size: 70px;
  color: #1C30CE;
  background-color: #fafafa;
}

.level-head {
  padding-top: 0px;
  padding-left: 12px;
}

.button-container {
  background-color: #fafafa;
  width: 600px;
  height: 75px;
}

.button-left h3 {
  margin: 12px;
  margin-top: 6px;
  font-family: Courier New;
  font-size: 60px;
  color: red;
}

.button-left h4 {
  margin: 12px;
  margin-top: 6px;
  font-family: Courier New;
  font-size: 60px;
  color: red;
}

.button-left {
  float: left;
  height: 75px;
}

.button-left img {
  height: 75px;
  width: auto;
}

.square img {
  height: 99px;
  width: 99px;
  opacity: .2;
}

.empty-winner {
  border-right: 1px solid #ffffff !important;
}

.move-counter {
  margin-left: 56px !important;
}

.blue {
  margin-top: -4px !important;
  margin-left: 2px !important;
  color: #1C30CE !important;
  font-size: 70px !important;
}

.button-right {
  height: 75px;
  width: auto;
}

.restart img {
  height: 75px;
  width: auto;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.restart img:hover {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.next img{
  transition: height .2s ease;
  transition: padding-top .2s ease;
}

.next {
  height: 75px;
  width: 80px;
}

.next:hover img{
  height: 60px;
  padding-top: 5px;
}

.previous img{
  float: right;
  transition: height .2s ease;
  transition: padding-top .2s ease;
}

.previous {
  height: 75px;
  width: 80px;
}

.previous:hover img{
  height: 60px;
  padding-top: 5px;
}

.button-right {
  float: right;
}

.filled {
  height: 98px !important;
  width: 98px !important;
  z-index: 4 !important;
  position: relative;
}

.car-board-container{
  position: relative;
  width: 600px;
  height: 600px;
  margin-top: -605px;
  margin-left: 1px;
}

.square div {
  outline: 0 !important;
  border: 0px !important;
}

.square-car {
  position: absolute;
  border-radius: 20px;
}



.downarrow2 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  margin-top: 210px;
}

.downarrow2 {
  width: 98px;
  height: 300px;
  z-index: 3;
}

.uparrow img {
  width: 80px;
  height: 80px;
  padding-left: 10px;
}

.uparrow {
  position: absolute;
  margin-top: -46px;
  width: 98px;
  height: 98px;
  border: 0px !important;
}

.rightarrow3 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  margin-left: 310px;
}

.rightarrow3 {
  height: 100px;
  width: 400px;
  z-index: 3;
}

.rightarrow2 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  margin-left: 210px;
}

.rightarrow2 {
  height: 100px;
  width: 300px;
  z-index: 3;
}

.downarrow3 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  margin-top: 310px;
}
.downarrow3 {
  width: 100px;
  height: 400px !important;;
  z-index: 3;
}

.leftarrow img {
  width: 80px;
  height: 80px;
  padding-top: 10px;
}

.leftarrow {
  position: absolute;
  margin-left: -46px;
  width: 98px;
  height: 98px;
  border: 0px !important;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulsebottom {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulsebottom {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.pulsebottom {
    -webkit-animation-name: pulsebottom;
    animation-name: pulsebottom;
}

.victory {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.finished {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
  font-family: Courier New;
  background-color: #fafafa;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 20px;
  height: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {margin-top: -500px; opacity: 0}
  to {margin-top: 50; opacity: 1}
}

@keyframes animatetop {
  from {margin-top: -500px; opacity: 0}
  to {margin-top: 50; opacity: 1}
}

.star-container {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.star-container img {
  height: 100px;
  width: auto;
}

.modal-content h1 {
  color: #1C30CE;
  font-size: 50px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.modal-list-box {
  position: relative;
  height: 160px;
}

.modal-list-box p {
  color: #1C30CE;
  font-size: 36px;
  text-align: left;
  width: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}


.modal-list-box {
  width: 400px;
}

.modal-list-left {
  width: 180px;
  float: left;
  padding-left: 32px;
}

.modal-list-center {
  padding-left: 32px;
  width: 50px;
  float: left;
}

.modal-list-right {
  padding-left: 32px;
  float: left;
}

.modal-list-right p {
  color: red;
}

.modal-buttons {
  margin-top: 16px;
  height: 150px;
}

.modal-buttons p {
  width: 220px;
  float: left;
  margin-top: 16px;
  margin-left: 16px;
}

.modal-button-next {
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 32px;
}

.modal-button-next img {
  height: 100px;
  width: 150px;
  opacity: .7;
  filter: alpha(opacity=50);
}

.modal-button-next img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal-button-restart {
  height: 100px;
  width: 100px;
  float: right;
  margin-right: 32px;
}

.modal-button-restart img {
  height: 100px;
  width: 100px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
