.header-top {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header-top h1 {
  font-family: Courier New;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 20px;
  margin-bottom: 0px;
}

.game-container {
  background-color: #fafafa;
  display: inline-block;
  position: relative;
  width: 600px;
  height: 600px;
  border-left: 2px dashed rgba(0, 0, 0, 0.3);
  border-bottom: 2px dashed rgba(0, 0, 0, 0.3);
}

.game-outline {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 0px;
  background-color: #E4F5FF;
  justify-content: center;
}

.page-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.game-container div {
  float:left;
  width: 98px;
  height: 98px;
  border-right: 2px dashed rgba(0, 0, 0, 0.3);
  border-top: 2px dashed rgba(0, 0, 0, 0.3);
}

.pointer:hover {
  cursor: pointer;
}

.button-headers {
  height: 75px;
  width: 600px;
  font-weight: bold;
  font-family: Courier New;
  font-size: 70px;
  color: #1C30CE;
}

.level-head {
  padding-top: 0px;
  padding-left: 12px;
}

.button-container {
  background-color: #fafafa;
  width: 600px;
  height: 75px;
}

.button-left h3 {
  margin: 12px;
  margin-top: 6px;
  font-family: Courier New;
  font-size: 60px;
  color: red;
}

.button-left h4 {
  margin: 12px;
  margin-top: 6px;
  font-family: Courier New;
  font-size: 60px;
  color: red;
}

.button-left {
  float: left;
  height: 75px;
}

.button-left img {
  height: 75px;
  width: auto;
}

.square img {
  height: 99px;
  width: 99px;
  opacity: .2;
}

.empty-winner {
  border-right: 1px solid #ffffff !important;
}

.move-counter {
  margin-left: 56px !important;
}

.blue {
  margin-top: -4px !important;
  margin-left: 2px !important;
  color: #1C30CE !important;
  font-size: 70px !important;
}

.button-right {
  height: 75px;
  width: auto;
}

.restart img {
  height: 75px;
  width: auto;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.restart img:hover {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.next img{
  transition: height .2s ease;
  transition: padding-top .2s ease;
}

.next {
  height: 75px;
  width: 80px;
}

.next:hover img{
  height: 60px;
  padding-top: 5px;
}

.previous img{
  float: right;
  transition: height .2s ease;
  transition: padding-top .2s ease;
}

.previous {
  height: 75px;
  width: 80px;
}

.previous:hover img{
  height: 60px;
  padding-top: 5px;
}

.button-right {
  float: right;
}

.filled {
  height: 98px !important;
  width: 98px !important;
  z-index: 4 !important;
  position: relative;
}

.car-board-container{
  position: relative;
  width: 600px;
  height: 600px;
  margin-top: -605px;
  margin-left: 1px;
}

.square div {
  outline: 0 !important;
  border: 0px !important;
}

.square-car {
  position: absolute;
  border-radius: 20px;
}



.downarrow2 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  margin-top: 210px;
}

.downarrow2 {
  width: 98px;
  height: 300px;
  z-index: 3;
}

.uparrow img {
  width: 80px;
  height: 80px;
  padding-left: 10px;
}

.uparrow {
  position: absolute;
  margin-top: -46px;
  width: 98px;
  height: 98px;
  border: 0px !important;
}

.rightarrow3 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  margin-left: 310px;
}

.rightarrow3 {
  height: 100px;
  width: 400px;
  z-index: 3;
}

.rightarrow2 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  margin-left: 210px;
}

.rightarrow2 {
  height: 100px;
  width: 300px;
  z-index: 3;
}

.downarrow3 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  margin-top: 310px;
}
.downarrow3 {
  width: 100px;
  height: 400px !important;;
  z-index: 3;
}

.leftarrow img {
  width: 80px;
  height: 80px;
  padding-top: 10px;
}

.leftarrow {
  position: absolute;
  margin-left: -46px;
  width: 98px;
  height: 98px;
  border: 0px !important;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulsebottom {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulsebottom {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.pulsebottom {
    -webkit-animation-name: pulsebottom;
    animation-name: pulsebottom;
}
