.downarrow3 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  margin-top: 304px;
}

.downarrow3 {
  width: 98px;
  height: 400px;
  z-index: 3;
}

.downarrow2 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  margin-top: 204px;
}

.downarrow2 {
  width: 98px;
  height: 300px;
  z-index: 3;
}

.uparrow img {
  width: 80px;
  height: 80px;
  padding-left: 10px;
}

.uparrow {
  position: absolute;
  margin-top: -46px;
  width: 98px;
  height: 98px;
  border: 0px !important;
}

.rightarrow3 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  margin-left: 304px;
  -webkit-animation: pulse 1s infinite ease-out;
  animation: pulse 1s infinite ease-out;
}

@-webkit-keyframes pulse {
   0% {transform: translateZ(0px)}
  100% {transform: translateZ(200px)}
}
@keyframes pulse {
   0% {transform: translateZ(0px)}
  100% {transform: translateZ(200px)}
}

.rightarrow3 img:pulse {
  padding-left: 16px;
}

.rightarrow3 {
  height: 100px;
  width: 400px;
  z-index: 3;
}

.rightarrow2 img {
  position: absolute;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  margin-left: 204px;
}

.rightarrow2 {
  height: 100px;
  width: 300px;
  z-index: 3;
}

.leftarrow img {
  width: 80px;
  height: 80px;
  padding-top: 10px;
}

.leftarrow {
  position: absolute;
  margin-left: -46px;
  width: 98px;
  height: 98px;
  border: 0px !important;
}
